/* font-family: 'Inter', sans-serif; */
/* font-family: 'Karla', sans-serif; */


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  overflow-x: hidden;
}

body {
  /* min-height: 100vh; */
}

.App {
  height: 100vh;
  color: rgb(250, 253, 240);
  text-align: center;
}

.section-header {
  height: 28%;
  background-color: rgb(250, 253, 240);
  display: flex;
  flex-direction: column;
}

.header-cont {
  display: flex;
    justify-content: center;
  align-items: center;
}

/* h1 {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 3.25rem;
  font-weight: 400;
  color: rgb(13, 16, 13);
  letter-spacing: 0.9rem;
} */

.heading-divider-1 {
  width: 250px;
}

.logo-main {
  position: relative;
  width: 210px;
  width: 190px;
  left: -18px;

  opacity: 0.93;
  /* opacity: 0.8; */

}

.navbar {
  background-color: rgb(23, 26, 23);
  background-color: rgb(13, 13, 13);
  min-height: 45px;
  height: 47px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-family: 'Karla', sans-serif;
z-index: 999;
  transition: all 0.24s linear;
  border-bottom: 1px solid transparent;
}

.navbar:hover,
.navbar:focus {
border-bottom: 1px solid rgba(236, 240, 221, 0.22);
box-shadow: 0 0 4px 0 rgba(236, 240, 221, 0.238);
}

.nav-links {
  color: rgba(236, 240, 221, 0.88);
  cursor: pointer;
  font-size: 0.92rem;
  border-bottom: 1px solid transparent;
  border-radius: 15px;
  padding: 3px 15px;
  text-transform: uppercase;
  transition: all 0.18s linear;
}

.nav-links:hover {
  color: rgb(13, 16, 13);
  background-color: rgba(236, 240, 221, 0.88);
}

@media only screen and (max-width: 920px) {
  .nav-links {
    font-size: 0.84rem;
  }
}

.section-main {
  min-height: 65.5%;
  background-color: rgb(21, 24, 21);
  background-color: rgb(19, 21, 19);
  color: rgb(250, 253, 240);
  padding: 0;
  z-index: 1;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 8px;
}

@media only screen and (max-width: 920px) {
  h2 {
    font-size: 28px;
    padding: 0.2rem 2rem;
  }
}

.first-h2 {
  display: inline-block;
  font-size: 1.68rem;
  font-weight: 600;
  letter-spacing: 28px;
}

.second-h2 {
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: 5.8px;
  margin-top: 90px;
}

.section-footer {
  height: 6.5%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: rgb(1, 1, 1);
  background-color: rgb(13, 13, 13);
  color: rgba(240, 252, 211, 0.64);
  color: rgba(236, 240, 221, 0.68);
}

.section-footer p {
  font-family: 'Karla', sans-serif;
  font-size: 0.77rem;
  letter-spacing: 0.5px;
  margin: auto 0;
  text-align: center;
  vertical-align: middle;
}

.social-box {
  display: flex;
  align-items: center;
}

.social-icon {
  width: 22px;
  height: 22px;
  margin: auto 17px;

}

.social-icon:first-of-type {
  margin-left: 0;
}

.section-menu {
  /* background-color: rgb(13, 16, 13); */
  /* color: rgb(250, 253, 240); */
  display: flex;
  flex-direction: column;
  /* padding: 1rem 0; */
  /* justify-content: space-evenly; */
  /* margin-top: 40px; */
  /* padding: 90px 0 40px; */
}

.menu-content {
  /* width: 90%; */
  display: flex;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category {
  color: rgba(250, 253, 240, 0.85);
  font-family: 'Inter', sans-serif;
  width: 20%;
  padding: 10px 42px 15px;
  margin-top: 0.25rem;
  border-right: 1px solid #1190332a;
}

.menu-title {
  display: inline-block;
  font-size: 0.85rem;
  letter-spacing: 1.8px;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

h3,
h4 {
  margin: 0 10px;
  font-family: 'Karla', sans-serif;
}

.menu-card {

  display: flex;
  flex-direction: column;
  margin: 0.4rem 0;
  margin: 0.7rem 0;
}

.name-container {
  /* height: 22px; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.35em;
}

.item-name {
  font-weight: 400;
  font-size: 0.82rem;
  margin-bottom: 0;
  margin: 0;
  color: rgba(215, 237, 155, 0.840);

}

.item-price {
  font-size: 0.74rem;
  margin: 0;
  font-style: italic;
  /* color: rgba(250, 253, 240, 0.96); */

}

.item-description {
  font-size: 0.64rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
  letter-spacing: 0.038rem;
  letter-spacing: 0.03rem;
  /* word-spacing: -0.5px; */
  text-align: start;
  /* color: rgba(250, 253, 240, 0.82); */
  margin: 0;
  font-style: italic;
  text-align: center;
}



.food-title {
  color: rgba(245, 255, 222, 0.85);
  margin: 2.1rem auto;
  font-size: 2rem;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.food-title-seperator {
  color: transparent;
  margin: 0 25px;
}

.image-container {
  position: relative;
  max-height: 100%;
  height: 479.8px;
  width: 100%;
  top: 0;
  /* margin-top: 3px; */
  background-image: url('./img/main/burger-420.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.layer {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parag {
  /* margin-top: 250px; */
  color: rgb(250, 253, 240);
}



.events-span {
  color: red;
}

.contact-text {

  color: green;
}

.story-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* align-items: center; */
}

.story-box {
  /* position: relative; */
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  /* justify-content: center; */
}

figure {
  position: relative;
  width: 310px;
  /* width: 320px; */
  height: 272px;

  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Karla', sans-serif;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-fig-1 {
  background-image: url('./img/main/events/420-done.jpeg');
}

.img-fig-2 {
  background-image: url('./img/main/events/img-5.JPG');
}

.story-layer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.24);

  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.img-fig-2 .story-layer {
  background-color: rgba(0, 0, 0, 0.1);
}

.story-img {
  /* max-width: 100%; */
  /* transform: scale(1.1) */
}



figcaption {
  font-size: 0.97rem;
  font-size: 0.82rem;
  /* font-size: 0.68rem; */
  letter-spacing: 0.4px;
  color: rgba(250, 253, 240, 0.9);
  margin-bottom: 16px;
}

.link-container {
  width: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgba(250, 253, 240, 0.85);
/* margin-top: 2.1rem; */
  padding: 0 1.5rem;
}

.story-link {
  width: 48%;
  width: 46%;
  width: 100%;
  list-style: none;
  display: flex;
  /* margin: 12px auto;   */
  margin-bottom: 34px;
  margin-bottom: 1.38rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.58px;
  line-height: 0.98rem;
  /* border-bottom: 1px solid rgba(212, 230, 163, 0.34); */
}

@media only screen and (max-width: 920px) {
  .story-link {
    width: 60%;
    font-size: 0.7rem;
    line-height: 0.1.06rem;
    letter-spacing: 0.4px;
  }
}



.home-page {
  position: relative;
  top: 14.85px;
  /* left: 0; */
}

.home-h1,
.home-h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: rgba(245, 255, 222, 0.85);
  letter-spacing: 5px;
}

.home-h1 {
  font-size: 4rem;
  letter-spacing: 15px;
  margin-top: 1em;
}

.home-h2 {
  font-size: 2.2rem;
  margin: 5rem 0;
  letter-spacing: 7px;
  word-spacing: 4px;
}

hr {
  display: none;
}

.footer-logo img {
  /* height: 70%; */
  width: 50px;
  margin-top: 4.5px;
  margin-left: -220px;
  border-radius: 50%;
}

.footer-1code {
  color: #FF2D2D;
  /* font-size: 105%; */
}

.hr-styled {
  display: block;
  /* margin: 9px auto; */
  width: 80px;
  border: none;
  border-bottom: 1px solid rgba(212, 230, 163, 0.38);
  border-bottom: 3px solid red;
  z-index: 9999;
}

.events-section {
  position: relative;
  /* top: -120px; */
  left: 0;
  height: 494.65px;
  margin: 0;
  padding: 0;
}